@import-normalize;

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}
